<DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Encrypt Demo</title>
  
  <link rel="stylesheet" href="./StyleE.css">
  
  
</head>
<body>
  <style>
    body {
      background-image: url('Encryption.jpg');
    }
    </style>
<h1>Encrypt/Decrypt Text</h1>
<p>Encrypts text as you type</p>
<div class="encrypt">
  <h2>Encrypt Text</h2>
  <input class="e" type="text" placeholder="Enter Text">
  <span class="encrypted-text">Your encrypted text will show here...</span>

  <p>--------------------------------------------------</p>
  <h2>Decrypt Text</h2>
  <input class="d" type="text" placeholder="Enter Text">
  <span class="decrypted-text">Your decrypted text will show here...</span>
</div>
<script src="./Encrypt.js"></script>
<p>End</p>
<footer>
  Made by <span class="heart"></span> Spam radar team.  
  <a target='_blank' href="https://twitter.com/search?l=&q=%23javascript%20from%3Atimsmith23&src=typd"><i class="fab fa-twitter"></i></a>
  <a target='_blank' href="https://github.com/WebRuin"><i class="fab fa-github"></i></a>
</footer>
</body>
</html>